{% extends "index.html" %}

{% block contents %}
    <div class="about">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>As a full-stack developer and founder of CIMCanvass, I bring 9 years of experience in
                        banking and insurance and a background in Information Management to the table. I am
                        currently studying at Vanier College to enhance my software development skills. My goal
                        is to create innovative solutions for various industries using my technical expertise
                        and business knowledge.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/static/images/owners/mark.jpg" alt="mark">
                    <h3>Mark Benedict Muyot</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>As a co-founder of CIMCanvass and a software development student at Vanier College, I
                        bring a blend of technical skills and real-world experience to the table. Skilled in
                        Java, C#, Python, SQL, HTML & CSS, I have honed my web and mobile development abilities
                        at Vanier College. I also bring experience from my role as a self-employed boxing
                        instructor, where I thrive in high-pressure environments. Emphasize my role as a
                        co-founder of CIMCanvass.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/static/images/owners/chitao.jpg" alt="chitao">
                    <h3>Chi-Tao Li</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>As a key founder of CIMCanvass, I bring extensive technical expertise in software
                        development. My skills include JAVA, SQL, C#, HTML, CSS, and JavaScript, with experience
                        in Agile methodology and using GitHub, Windows, Linux OSs, and Non-Relational databases
                        like Firebase. Currently working on projects in Cybersecurity, Transactional Web
                        applications using Python and Android mobile development.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/static/images/owners/ibrahim.jpg" alt="ibrahim">
                    <h3>Md Ibrahim Ullah</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
